.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;          
    align-items: center;
  }

/* .container main {
    padding: 5rem 0;
    flex: 1;
} */